/* Tag Selectors */
.hero h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
body {
  font-family: 'Montserrat';
}
.section-2 h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}
.section-2 p {
  color: #8f8f8f;
}
#testimonials h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
#cta h3 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
  color: #fff;
}
#footer p {
  color: #8f8f8f;
}
/* Class Selectors */
.container-fluid {
  padding: 3% 15% 7%;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  margin: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
.download-btn {
  margin: 5% 3% 5% 0;
}
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.cf-center {
  text-align: center;
  padding: 5%;
}
.sec-2-icon {
  font-size: 3rem;
  line-height: 1.5 !important;
  color: #ef8172;
}
.sec-2-icon:hover {
  color: #ff4c68;
}
.section-2 {
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.testimonial-carousel {
  padding: 7% 15%;
}
.pricing-col {
  padding: 2% 3%;
}
.download-btn-cta {
  margin: 10px;
}
.so-icon {
  margin: 10px 10px 30px;
}
/* ID Selectors */
#title {
  background-color: #ff4c68;
  color: #fff;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
#press {
  background-color: #ef8172;
  padding-bottom: 5%;
  text-align: center;
}
#pricing {
  padding: 7% 15%;
  text-align: center;
}
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}
#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}
/* Media Queries */
@media (max-width: 1044px) {
  .hero {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
